/* Style minimal pour la carte */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

/* Cache les attributions */
.ol-attribution {
    display: none !important;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.4;
  max-width: 300px;
}

.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}